@model MousseModels.Models.Session

@{
    ViewData["Title"] = "Details";
}

<h1>Session</h1>
<div class="col-md-12 mb-4">
    <!--Card-->
    <div class="card">
        <!-- Card header -->
        <div class="card-header d-sm-flex justify-content-between"><div class="mb-2 mb-sm-0 pt-1">@Html.DisplayFor(model => model.Name)</div> <a href="@Url.Action("details", "campaigns", new {Model.Campaign.ID })" class="d-flex justify-content-center">@Html.DisplayFor(model => model.Campaign.Name)</a></div>
        <!--Card content-->
        <div class="card-body">

            <h4>Description:</h4>
            <div>
                @Html.Raw(Model.Description)
            </div>

        </div>
    </div>
    <!--/.Card-->
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
