@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - BrochetteEnMousse</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/css/style.min.css" rel="stylesheet">
    @RenderSection("Css", required: false)
    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body class="grey lighten-3">
    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item d-md-none d-lg-none  d-xl-none ">
                            <a class="nav-link waves-effect" asp-controller="Campaigns" asp-action="Index">
                                Campagnes
                            </a>
                        </li>
                        <li class="nav-item d-md-none d-lg-none  d-xl-none">
                            <a class="nav-link waves-effect" asp-controller="Characters" asp-action="Index">
                                Personnages
                            </a>
                        </li>
                        <li class="nav-item d-md-none d-lg-none  d-xl-none">
                            <a class="nav-link waves-effect" asp-controller="Scenarios" asp-action="Index">
                                Scénarios
                            </a>
                        </li>
                        <li class="nav-item d-md-none d-lg-none  d-xl-none">
                            <a class="nav-link waves-effect" asp-controller="Maps" asp-action="Index">
                                Map
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons"></ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            <a href="/"class="logo-wrapper waves-effect">
                <img src="~/img/brochette.jpeg" class="img-fluid" alt="">
            </a>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item active waves-effect">
                    <i class="fas fa-chart-pie mr-3"></i>Dashboard
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="list-group-item list-group-item-action waves-effect" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fas fa-user mr-3"></i>Profile
                    </a>
                }
                <a class="list-group-item list-group-item-action waves-effect" asp-controller="Campaigns" asp-action="Index">
                    <i class="fas fa-money-bill-alt mr-3"></i>Campagnes
                </a>
                <a class="list-group-item list-group-item-action waves-effect" asp-controller="Characters" asp-action="Index">
                    <i class="fas fa-money-bill-alt mr-3"></i>Personnages
                </a>
                <a class="list-group-item list-group-item-action waves-effect" asp-controller="Scenarios" asp-action="Index">
                    <i class="fas fa-money-bill-alt mr-3"></i>Scénarios
                </a>
                <a class="list-group-item list-group-item-action waves-effect"  asp-controller="Maps" asp-action="Index">
                    <i class="fas fa-map mr-3"></i>Maps
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-primary btn-sm waves-effect waves-light" href="@Url.Action("create", "campaigns")">Nouvelle Campagne</a>
                    <a class="btn btn-primary btn-sm waves-effect waves-light" href="@Url.Action("create", "scenarios")">Nouveau Scenario</a>
                }
            </div>
        </div>
        <!-- Sidebar -->
    </header>
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">
            @RenderBody()
        </div>
    </main>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
    
</body>
</html>
