@model MousseModels.Models.Campaign

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="col-md-12 mb-4">
    <!--Card-->
    <div class="card">
        <!-- Card header -->
        <div class="card-header d-sm-flex justify-content-between"><div class="mb-2 mb-sm-0 pt-1">@Model.Name</div> <div class="d-flex justify-content-center">@Model.CampaignUsers.First(u => u.IsGameMaster).User.Pseudo</div></div>
        <!--Card content-->
        <div class="card-body">
            <h4>Maitre de Jeu:</h4>
            <ul>
                <li>
                    @Model.CampaignUsers.Single(u => u.IsGameMaster).User.Pseudo
                </li>

            </ul>

            <h4>Joueurs:</h4>
            <ul>
                @foreach (var player in Model.CampaignUsers.Where(u => !u.IsGameMaster))
                {
                    <li>
                        @player.User.Pseudo
                    </li>
                }
            </ul>
            <h4>Description:</h4>
            <div>
                @Html.Raw(Model.Description)
            </div>
            <h4>Sessions:</h4>
            <div>
                <ul>

                    @if (Model.Sessions != null)
                    {
                        @foreach (var session in Model.Sessions)
                        {
                            <li>
                                <a href="@Url.Action("details", "session", new { session.ID})">@session.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--/.Card-->
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
